
@import "./../style/variable.scss";

.skillBtn{

    
    display: inline-block;
    margin: 20px 10px;
}
#bgColor{

    background-color: $yellow;
}
.Right-Circle{
    margin: auto;
    border: 1px solid black;
    border-radius: 100%;
    min-height: 380px !important;
    max-width: 380px;
    background-color: $yellow;
    font-size: 12px;
    &-Icon {
        
       
         display: flex;
        margin-top: 30px !important;
    
    &:nth-child(even){

    margin-left: 30px !important;
    
}
    }
}
